[Desktop Entry]
Version=1.0
Type=Application
Name=Log Out?
Comment=Logout.
Exec=oblogout
Icon=system-log-out
Path=
Terminal=false
StartupNotify=false
