[Desktop Entry]
Version=1.0
Name=brave
StartupNotify=true
StartupWMClass=brave-browser
TryExec=/usr/bin/brave-browser
Exec=brave-browser --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Icon=brave-desktop
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
